.header {
    background-color: rgb(252, 201, 72);
    color: #333; 
    padding: 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    border-top: none; 
    display: flex;  
    align-items: center; 
}

.content {
    margin-top: 130.42px; 
}


.nav-list {
    display: flex; 
    list-style: none; 
    margin-left: 60px; 
}

.nav-list li {
    margin-left: 50px; 
}

.nav-list li:first-child {
    margin-left: 0; 
}

.nav-list li a {
    text-decoration: none; 
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    font-size: 25px;
}

.nav-list li a:hover {
    color: #ef5f3b; 
}

.logo img {
    width: 150px; 
    margin-left: 50px;
}

.boton {
    background-color: #ef5f3b;
    border-radius: 50px;
    box-shadow: 0px 4px 4px #00000040;
    padding: 10px 40px; 
    margin: 0 60px; 
    text-decoration: none; 
    color: #ffffff; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    font-size: 20px; 
    border: none; 
    white-space: nowrap;
    position: absolute; 
    top: 43px; 
    right: 60px;
    cursor: pointer;
}
.boton:hover {
    background-color: #d64d23; /* Cambio de color al pasar el ratón */
}

.boton:active {
    background-color: #c8370c; /* Cambio de color al hacer clic */
}

.login {
    background-color: transparent;
    border: none; 
    padding: 0;
    position: absolute;
    top: 40px; 
    right: 50px; 
}

.login img {
    width: 50px; 
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    cursor: pointer;
}

.login:hover {
    filter: drop-shadow(0px 4px 10px rgba(116, 27, 0, 0.3)); /* Cambio de sombra al pasar el ratón */
}

.login:active {
    filter: drop-shadow(0px 4px 4px rgba(78, 19, 1, 0.3)); /* Cambio de sombra al hacer clic */
}

