/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');*/

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.imagen_signUp {
    background-image: url('../../../public/imagenes/sigIn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.form_SignUp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    margin: 25% 20%;
}
.form_SignUp ::placeholder{
    color: #6161615c;
}

.input_SignUp{
    left: 0;
    line-height: normal;
    white-space: nowrap;
    font-weight: 700;
    width: 100%;
    padding: 5px;
    color:rgba(0, 0, 0, 0.283);
    border: none;
    border-bottom: 2px solid #00000037;
}
.labels_SignUp{
    display: flex;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 540;
    left: 0;
    color:rgba(0, 0, 0, 0.655) ;
   
}
.SignUp_Button{
    background-color: #fcc948;
    border-radius: 50px;
    padding: 10px 23px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    cursor: pointer;
}
.agree{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.check{
    background-color:#fcc948;
    box-shadow: 0px 2px 2px #00000032;
    left: 0;
    margin-right: 15px;
    border-radius: 5px;
}
.label_checkbox{
    font-size:600;
    color:rgba(0, 0, 0, 0.268) ;
}
.Login_Button{
    background-color: #fcc948;
    border-radius: 50px;
    padding: 10px 23px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    cursor: pointer;
}
.moverBoton{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}